{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

<img src="/static/images/logo/logo_transparent.png" class="center" style="padding-top: 50px; display: block; margin-left: auto; margin-right: auto;" width="500" height="500">
<h1 align="center" style="text-align: center; color:white;">Welcome to Twivler</h1>
<p align="center" style="text-align: center; color:white;">This is some text in a paragraph.</p>




{% endblock %}