{% extends "base.html" %}


{% block content %}
<a class='search_link' href="search_game" style="margin-left:25%">Search page</a>

<!--Video frame-->
<div id="SamplePlayerDivID" style="margin-left:25%">
    <script type="text/javascript">
        var options = {
            width: 854,
            height: 480,
            channel: '{{ channel_name }}',
        };
        var player = new Twitch.Player("SamplePlayerDivID", options);
        player.setVolume(0.5);
    </script>
    <!--Chat frame-->
    <iframe src="https://www.twitch.tv/embed/{{ channel_name }}/chat?darkpopout" frameborder="0" scrolling="no" height="480" width="350"></iframe>
</div>
{% endblock %}
