{% extends "base.html" %}


{% block content %}
<a class='search_link' href="search_game">Search page</a>

<!--Video frame-->
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<div id="SamplePlayerDivID">
    <script type="text/javascript">
        var options = {
            width: 854,
            height: 480,
            channel: '{{ channel_name }}',
        };
        var player = new Twitch.Player("SamplePlayerDivID", options);
        player.setVolume(0.5);
    </script>
    <!--Chat frame-->
    <iframe src="https://www.twitch.tv/embed/{{ channel_name }}/chat" frameborder="0" scrolling="no" height="480" width="350"></iframe>
</div>
{% endblock %}
